/* Color Palette from Color Hunt */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --navBg: #2e3a86;
    --lightFont: #F5EDED;
    --bodyBg: #7FA1C3;
    --navLinkHover: #FF8343;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bodyBg);
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 5rem;
}

nav {
    background-color: var(--navBg);
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.links ul li a, .logo a {
    text-decoration: none;
    color: var(--lightFont);
    font-size: 1.2rem;
    font-weight: 300;
    transition: color 0.2s ease-in;
}

.links ul li a:hover {
    color: var(--navLinkHover);
}

.action {
    display: flex;
    gap: 1.5rem;
}

.action a {
    text-decoration: none;
    color: var(--lightFont);
    border: 1px solid var(--lightFont);
    border-radius: 5px;
    padding: 5px 10px;
    transition: background 0.2s ease-in, border 0.2s ease-in;
}

.action a:last-child {
    background-color: var(--lightFont);
    color: var(--navBg);
    border: 1px solid var(--navBg);
}

.action a:first-child:hover {
    color: var(--navLinkHover);
    border: 1px solid var(--navLinkHover);
}

.action a:last-child:hover {
    background-color: var(--navLinkHover);
}

.toggleBtn {
    display: none;
    color: var(--lightFont);
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
}

.toggleMenu {
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 30vw;
    background-color: var(--navBg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none;
}

.toggleMenu.active {
    display: none;

}

.togglelinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.togglelinks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.togglelinks ul li a {
    text-decoration: none;
    color: var(--lightFont);
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.togglelinks ul li a:hover {
    color: var(--navLinkHover);
}

.toggleaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.toggleaction a {
    text-decoration: none;
    color: var(--lightFont);
    border: 1px solid var(--lightFont);
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    margin: 0 5px;
    text-align: center;
    transition: background 0.2s ease, border 0.2s ease;
}

.toggleaction a:last-child {
    background-color: var(--lightFont);
    color: var(--navBg);
    border: 1px solid var(--navBg);
}

.toggleaction a:first-child:hover {
    color: var(--navLinkHover);
    border: 1px solid var(--navLinkHover);
}

.toggleaction a:last-child:hover {
    background-color: var(--navLinkHover);
}

.visibleOn{
    display: inline-block;
}


/* slider */



/* css slider */
.slider{
    height: 90vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(2%);
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to left, #000 5%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .links ul {
        display: none; 
    }

    .toggleBtn {
        display: block;
    }
    .action{
        display: none;
    }
    .container {
        margin: 0 2rem;
    }
    .toggleMenu {
        width: 50vw;
    }

    /* slider css */
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}
